Django
django-crispy-forms
celery
python-dotenv
gunicorn
google-cloud-storage
django-storages
psycopg2
django-extensions
phonenumbers
dj-database-url
dj-static
boto
django-celery-beat
django-celery-results
redis
honcho
django-nose
waitress
python-decouple
psycopg2-binary
xlwt