Django
django-crispy-forms
celery
python-dotenv
gunicorn
google-cloud-storage
django-storages
# psycopg2
django-extensions
phonenumbers
dj-database-url
dj-static
boto3
django-celery-beat
django-celery-results
elasticsearch
elasticsearch-dsl
redis
honcho
django-nose
waitress
python-decouple
psycopg2-binary
Pillow
xlwt
xlrd
pyexcel_xls
pyexcel_xlsx