
	<!-- <iframe style="border:0" width="100%" height="auto" scrolling="no" id="bsaIframe" onload="bsaIframe()" src="https://wstreams.com/api/?id=22&i=1"> </iframe><script>function bsaIframe() { var iFrameID = document.getElementById('bsaIframe'); if(iFrameID) { iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + 'px'; } }</script> -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desktop head -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-7739624904077396"
     data-ad-slot="4357401074"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>